*{
    margin: 0;
    padding: 0;
}
/* 轮播图最外围 */
.slide
{
    position: relative;
    height: 350px;
    width: 500px;
    /* background-color: forestgreen; */
    margin: 50px auto;
    overflow: hidden;
}
/* 轮播图里边第一层 */
.slide-min
{
    position: relative;
    height: 333px;
    width: 1000px;
    background-color: aquamarine;
}
/* 轮播图的图片 */
.slide-min-img
{
    position: absolute;
    height: 333px;
    width: 500px;
}
/* 轮播图左右箭头与下标 */
.slide-ctl
{
    cursor: pointer;
    text-align: center;
}
/* 轮播图左右按钮样式 */
.slide-ctl-l,.slide-ctl-r
{
    position: absolute;
    top: 50%;
    width: 79px;
    height: 108px;
    background-color: rgba(250,0,255, 0.3);
    line-height: 108px;
    text-align: center;
    font-size: 50px;
    color:#363131;
    
}
.slide-ctl-r
{
    right: 0;
}
.slide-ctl-l
{
    left: 0;
}
/* 轮播图下标样式 */
.slide-ctl-s
{
    display: inline-block;
    width: 20px;
    height: 5px;
    background-color: aliceblue;
    border: 1px salmon solid;
    margin-right: 10px;
    text-indent: 21em;
}
.s_current
{
    background-color: aqua;
}